<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770809712984-86e38p2crtugdp4cq7gkjtr3cn36d0ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770809712984-86e38p2crtugdp4cq7gkjtr3cn36d0ti</string>
	<key>API_KEY</key>
	<string>AIzaSyCTmati25dBV-6KCFuKRIlCMhZiOdQ9dqM</string>
	<key>GCM_SENDER_ID</key>
	<string>770809712984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Home.Marvel-Heroes</string>
	<key>PROJECT_ID</key>
	<string>marvel-heroes-c5278</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-heroes-c5278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770809712984:ios:05a094e3d231938efbd52d</string>
	<key>DATABASE_URL</key>
	<string>https://marvel-heroes-c5278-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>